.login-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-flow: column;
    padding: 30px;
    .form {
        display: flex;
        width: 100%;
        flex-flow: column;
    }
}